{%extends "t.index.html"%}
{%block leftmenu%}
<div class="span2 main-menu-span">
  <div class="well nav-collapse sidebar-nav">
    <ul class="nav nav-tabs nav-stacked main-menu">
      <li class="nav-header hidden-tablet">导航菜单</li>
      <li><a class="ajax-link" href="/qita/1"><i class="icon-home"></i><span class="hidden-tablet"> 正常转64</span></a></li>
      <li><a class="ajax-link" href="/qita/2"><i class="icon-home"></i><span class="hidden-tablet"> 64转正常</span></a></li>
      <li><a class="ajax-link" href="/qita/3"><i class="icon-home"></i><span class="hidden-tablet"> 素材id encode</span></a></li>
      <li><a class="ajax-link" href="/qita/4"><i class="icon-home"></i><span class="hidden-tablet"> 素材id decode</span></a></li>
      <li><a class="ajax-link" href="/qita/5"><i class="icon-home"></i><span class="hidden-tablet"> hashcode 转换</span></a></li>
      <li><a class="ajax-link" href="/qita/6"><i class="icon-home"></i><span class="hidden-tablet"> yaml转json</span></a></li>
      <li><a class="ajax-link" href="/qita/7"><i class="icon-home"></i><span class="hidden-tablet"> json转yaml</span></a></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
{%endblock%}
{%block content%}
{%endblock%}
{%block script%}
{%endblock%}

