{%extends "t.index.html"%}
{%block leftmenu%}
<div class="span2 main-menu-span">
  <div class="well nav-collapse sidebar-nav">
    <ul class="nav nav-tabs nav-stacked main-menu">
      <li class="nav-header hidden-tablet">导航菜单</li>
      <li><a class="ajax-link" href="/idhelper/n264"><i class="icon-home"></i><span class="hidden-tablet"> 正常转64</span></a></li>
      <li><a class="ajax-link" href="/idhelper/642n"><i class="icon-home"></i><span class="hidden-tablet"> 64转正常</span></a></li>
      <li><a class="ajax-link" href="/idhelper/midencode"><i class="icon-home"></i><span class="hidden-tablet"> 素材id encode</span></a></li>
      <li><a class="ajax-link" href="/idhelper/middecode"><i class="icon-home"></i><span class="hidden-tablet"> 素材id decode</span></a></li>
      <li><a class="ajax-link" href="/idhelper/hashcode"><i class="icon-home"></i><span class="hidden-tablet"> hashcode 转换</span></a></li>
      <li><a class="ajax-link" href="/idhelper/yaml2json"><i class="icon-home"></i><span class="hidden-tablet"> yaml转json</span></a></li>
      <li><a class="ajax-link" href="/idhelper/json2yaml"><i class="icon-home"></i><span class="hidden-tablet"> json转yaml</span></a></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
{%endblock%}
{%block content%}
{%endblock%}
{%block script%}
{%endblock%}

