{%extends "idhelper/idhelper_base.html"%}
{%block content%}
<form id="idform" action="" method='POST'>
  <div class="control-group">
    <label class="control-label" for="appendedInputButton">请输入id</label>
      <div class="controls">
        <div class="input-append">
          <input id="appendedInputButton" name='oid' size="16" type="text">
            <button class="btn" type="submit">submit!</button>
        </div>
      </div>
  </div>
</form>
<div class='J_idshow'>
</div>
{%endblock%}
{%block script%}
<script type="text/javascript">
$(document).ready(function(){
  var data = null;
      base_url = document.location.origin + document.location.pathname;
  $('#idform').submit(function(){
    data = $('#idform').serialize();
    $.post(base_url,data,function(json){
      $('.J_idshow').replaceWith('<div class="J_idshow"><h2>'+json['nid']+'</h2></div>')
      });
    return false;
    });
});
</script>
{%endblock%}
