{%extends "idhelper/idhelper_base.html"%}
{% block content %}
<form id="idform" action="" method='POST'>
  <div class="control-group">
    <label class="control-label" for="appendedInputButton"> 请输入需要转换的yaml </label>
      <div class="controls">
        <div class="input-append">
            <div><textarea id="appendedInputButton" name='yaml_data' rows="10" style="width:100%;"></textarea></div>
            <div><button class="btn" type="submit"> yaml >> json </button></div>
        </div>
      </div>
  </div>
</form>
{% if json_format  %}
<pre>
{{ json_format }}
</pre>
{% endif %}
{% endblock %}
