{%extends "t.index.html"%}
{%block leftmenu%}
<div class="span2 main-menu-span">
  <div class="well nav-collapse sidebar-nav">
    <ul class="nav nav-tabs nav-stacked main-menu">
      <li class="nav-header hidden-tablet">一些文档</li>
      <li><a class="ajax-link" href="/flaskr/1"><i class="icon-home"></i><span class="hidden-tablet"> 第一章</span></a></li>
      <li><a class="ajax-link" href="/flaskr/2"><i class="icon-home"></i><span class="hidden-tablet"> 第二章 /<span></a></li>
      <li><a class="ajax-link" href="/flaskr/3"><i class="icon-home"></i><span class="hidden-tablet"> 第三章</span></a></li>
      <li><a class="ajax-link" href="/flaskr/4"><i class="icon-home"></i><span class="hidden-tablet"> 第四章</span></a></li>
      <li><a class="ajax-link" href="/flaskr/5"><i class="icon-home"></i><span class="hidden-tablet"> 第五章</span></a></li>
      <li><a class="ajax-link" href="/flaskr/6"><i class="icon-home"></i><span class="hidden-tablet"> 第六章</span></a></li>
      <li><a class="ajax-link" href="/flaskr/7"><i class="icon-home"></i><span class="hidden-tablet"> 第七章</span></a></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
{%endblock%}
{%block content%}
{%endblock%}
{%block script%}
{%endblock%}

