{%extends "t.index.html"%}
{%block leftmenu%}
<div class="span2 main-menu-span">
  <div class="well nav-collapse sidebar-nav">
    <ul class="nav nav-tabs nav-stacked main-menu">
      <li class="nav-header hidden-tablet">导航菜单</li>
      <li><a class="ajax-link" href="/accounts/users"><i class="icon-home"></i><span class="hidden-tablet"> User</span></a></li>
      <li><a class="ajax-link" href="/accounts/roles"><i class="icon-home"></i><span class="hidden-tablet"> Role</span></a></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
{%endblock%}
{%block content%}
{%endblock%}
{%block script%}
{%endblock%}
