<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Welcome to CI platform</title>
    </head>
    <body>
        <h1>Welcome to Continuous Integration Platform</h1>
        <p>
            <font size="6"><a href="http://{{ local_ip }}:8080">Jenkins</a></font><br>
            Jenkins用于每日构建，部署应用程序并添加测试任务
        </p>
        <p>
            <font size="5"><a href="http://{{ local_ip }}/apollo/schedule">测试结果页面</a></font><br>
            测试结果页面展示了所有schedule及用例执行的结果
        </p>
        <p>
            <font size="2">如需帮助请联系管理员: <a href="mailto:yan_jiawei@vobile.cn">yan_jiawei@vobile.cn</a></font>
        </p>
    </body>
</html>
