{%extends "t.index.html"%}
{%block leftmenu%}
<div class="span2 main-menu-span">
  <div class="well nav-collapse sidebar-nav">
    <ul class="nav nav-tabs nav-stacked main-menu">
      <li class="nav-header hidden-tablet">导航菜单</li>
      <li><a class="ajax-link" href="/idhelper/n264"><i class="icon-home"></i><span class="hidden-tablet">note1</span></a></li>
      <li><a class="ajax-link" href="/idhelper/642n"><i class="icon-home"></i><span class="hidden-tablet">note2</span></a></li>
      <li><a class="ajax-link" href="/idhelper/midencode"><i class="icon-home"></i><span class="hidden-tablet">note3</span></a></li>
      <li><a class="ajax-link" href="/idhelper/middecode"><i class="icon-home"></i><span class="hidden-tablet">note4</span></a></li>
      <li><a class="ajax-link" href="/idhelper/hashcode"><i class="icon-home"></i><span class="hidden-tablet">note5</span></a></li>
      <li><a class="ajax-link" href="/idhelper/yaml2json"><i class="icon-home"></i><span class="hidden-tablet">note6</span></a></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
{%endblock%}
{%block content%}
{%endblock%}
{%block script%}
{%endblock%}

